.intro {
    padding-top: 150px;
  width: 100%;
  height: 600px;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px ;
  color: white;
}
.footer {
    align-items: baseline;
}
.about {
    padding: 50px;
    text-align: center;
}

.services {
  color: white;
  padding: 70px;
  padding-left: 350px;
  padding-right: 350px;
  text-align: center;
}
.what {
  padding: 50px;
}
.show, .show1, .show2 {
  font-size: 13px;
  font-weight: bold;
}
.hide, .hide1, .hide2 {
  font-size: 15px;
  font-weight: bold;
}
.hide, .hide1, .hide2 {
  display: none;
}
.portfolio {
  padding-bottom: 50px;
  text-align: center;
}
.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.view:hover .mask {
  opacity: 1;
}

.name {
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.contact {
  padding: 50px;
  height: 500px;
  text-align: center;
  color: white;
}
form {
  background: inherit;
}
input, textarea {
    background-color: rgba(0,0,0,0.0);
    color: white;
}
.placeholder {
  color: white;
}
button {
  background-color: inherit;
  color: white;
  font-weight: bold;

}
.social{
  align-items: center;
  padding: 50px;
  width: auto;
  align-content: center;
  
}
footer{
  text-align: center;
}

 
