.intro {
    padding-top: 150px;
  width: 100%;
  height: 600px;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px ;
  color: white;
}
.footer {
    align-items: baseline;
}
.about {
    padding: 50px;
    text-align: center;
}
.services {
  color: white;
  padding: 70px;
  padding-left: 350px;
  padding-right: 350px;
  text-align: center;
}

 
